@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  width: 5rem;
  background: white;
  border: 1px solid grey;
  outline: none;
  padding: 0.25rem 1rem;
  border-radius: 4px;
  font-weight: 500;
}

.btn:hover {
  background: black;
  color: white;
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  
}
